@import "./defaults.scss";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  
  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f8f8;
    padding: 2rem;
    z-index: 1000;
    border: solid;

  }
  
  .modal-close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    background-color: #494949;
    cursor: pointer;
  }

  .modal-close-btn:hover {
    background: linear-gradient(to right, #a32727, #e65e5e);
  }

